@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<iframe src="https://www.google.com/maps/d/embed?mid=1PiHlyAXEQStbryCci0mmL_O7cJjpvtzI" width="100%" height="700px"></iframe>

]<h2>Contact IT Support</h2>

<!--HAVE A FORM WHERE THEY CAN ENTER THEIR EMAIL, PROBLEM, ETC-->

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>